@import "tailwindcss";

@theme {
  /* Cores */
  --color-primary: #12B968;
  --color-secondary: #F48C06;
  
  --color-app-bg: #2C2C2C; /* Cinza Escuro para o fundo */
}

/* Estilos Globais básicos */
@layer base {
  body {
    @apply bg-app-bg text-slate-900;
    font-family: 'Inter', system-ui, sans-serif;
  }
}